# pycharm cache
**/__pycache__
# archive files
**.tar.gz
**.tar
**.zip
**.rar
# data folder
data/
.idea
wandb/

# fix annotation file
.fix_anno.py

data.xlsx
results.md
xlsx_to_text.py

# pytorch model checkpoint
**.pth
**.pt
